<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>详细信息</title>
<!-- basic styles -->
<link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap.min.css}"/>
</head>
<body>

<div class="span9 columns" style="margin:2px 10px;">
     <h2 style="text-align:center;" th:text="${financialProduct?.title}">标题</h2>
     <h4 style="text-align:center;" th:text="${financialProduct?.subtitle}">副标题</h4>
     <p style="text-align:center;" th:text="${financialProduct?.creatorName} +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ ${#dates.format(financialProduct?.createTime, 'yyyy-MM-dd HH:mm:ss')}">
     </p>
     <h5 style="color:#949494;" th:utext="${financialProduct?.summary}">【摘要】：</h5>
     <div style="padding:0 10px 20px 10px;" th:utext="${financialProduct?.content}">
       
     </div>
</div>
</body>
</html>