<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>用户协议</title>
<!-- basic styles -->
<link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap.min.css}"/>

<style type="text/css">
.scrollspy-example {
margin:2px 20px;
height: 300px;
overflow: auto;
position: relative;
}
</style>
</head>
<body>

<div class="span9 columns" style="margin:2px 10px;">
          <h2>布谷鸟 （学名杜鹃鸟，这是用户协议吗？）</h2>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          	布谷鸟体形大小和鸽子相仿，但较细长，上体暗灰色，腹部布满了横斑。脚有四趾，二趾向前，二趾向后。
          	飞行急速无声。 芒种前后，几乎昼夜都能听到它那宏亮而多少有点凄凉的叫声，叫声特点是四声一度——”布谷布谷，布谷布谷”。</p>
          <div class="scrollspy-example">
            <h4 id="php">Spring</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            	Spring是一个开源框架，Spring是于2003 年兴起的一个轻量级的Java 开发框架，由Rod Johnson创建。
            	简单来说，Spring是一个分层的JavaSE/EEfull-stack(一站式) 轻量级开源框架。 
            </p>
            <h4 id="js">JS</h4>
            <p>
            JavaScript is a cross-platform, object-oriented scripting language developed by Netscape. JavaScript was created by Netscape programmer Brendan Eich. It was first released under the name of LiveScript as part of Netscape Navigator 2.0 in September 1995. It was renamed JavaScript on December 4, 1995. As JavaScript works on the client side, It is mostly used for client-side web development.
            </p>
            <h4 id="mysql">MySQL</h4>
            <p>
            MySQL tutorial of w3cschool is a comprhensive tutorial to learn MySQL. We have hundreds of examples covered, often with PHP code. This helps you to learn how to create PHP-MySQL based web applications.
            </p>
            <h4 id="pgsql">PostgreSQL</h4>
            <p>
            In 1986 the Defense Advanced Research Projects Agency (DARPA), the Army Research Office (ARO), the National Science Foundation (NSF), and ESL, Inc sponsored Berkeley POSTGRES Project which was led by Michael Stonebrakessr. In 1987 the first demo version of the project is released. In June 1989, Version 1 was released to some external users. Version 2 and 3 were released in 1990 and 1991. Version 3 had support for multiple storage managers, an query executor was improved, rule system was rewritten. After that, POSTGRES has been started to be implemented in various research and development projects. For example, in late 1992, POSTGRES became the primary data manager for the Sequoia 2000 scientific computing project4. User community around the project also has been started increasing; by 1993, it was doubled.
            </p>
            <h4 id="mgdb">MongoDB</h4>
            <p>
            The term NoSQL was coined by Carlo Strozzi in the year 1998. He used this term to name his Open Source, Light Weight, DataBase which did not have an SQL interface.In the early 2009, when last.fm wanted to organize an event on open-source distributed databases, Eric Evans, a Rackspace employee, reused the term to refer databases which are non-relational, distributed, and does not conform to atomicity, consistency, isolation, durability - four obvious features of traditional relational database systems.</p>
		    <p>After reading the largest third party online MySQL tutorial by w3cschool, you will be able to install, manage and develop PHP-MySQL web applications by your own. We have a comprehensive, SQL TUTORIAL, which will help you to understand how to prepare queries to fetch data against various conditions.
	       	</p>
	      </div>
</div>
<hr></hr>

</body>
</html>