<div class="page-header">
	<h1>
		欢迎页 <small> <i class="ace-icon fa fa-angle-double-right"></i>
			系统说明
		</small>
	</h1>
</div>
<div class="row">
<p>
	Tax &nbsp; Bank &nbsp; Platform &nbsp;是基于<strong>RBAC</strong>理论，从<strong>SAAS</strong>角度设计的完全响应式权限管理系统，包括用户管理、角色管理，权限管理等功能，项目使用主流技术如下：
</p>
<p>
	<strong>服务端</strong>：
	Spring Boot1.4.1.RELEASE<br/>Mybatis3.4.0<br/>Shiro1.2.5<br/>druid1.0.26<br/>ehcache2.6.11等
</p>
<p>
	<strong>前端</strong>：
	Thymeleaf<br/>JQuery<br/>Bootstrap3.3.5<br/>ACE1.3.4（基于bootstrap的响应式后台管理模板）<br/>layer<br/>DTGrid<br/>JQuery validation等
</p>

</div>

