<script type="text/javascript">
$(function() {
    webside.form.role.validateRoleForm();
});
</script>
<div class="page-header">
	<h1 th:text="${roleEntity}?'编辑角色':'新增角色'">
	</h1>
</div>
<div class="row" style="margin-top:5px;">
	<div class="col-xs-12">
		<form id="roleForm" name="roleForm" class="form-horizontal" role="form" method="post">
		<div th:if="${roleEntity}">
			<input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum }"/>
			<input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize }"/>
			<input type="hidden" id="orderByColumn" name="orderByColumn" th:value="${page.orderByColumn }"/>
			<input type="hidden" id="orderByType" name="orderByType" th:value="${page.orderByType }"/>
			<input type="hidden" name="id" id="roleId" th:value="${roleEntity.id }"/>
		</div>
		   <div class="form-group">
		      <label class="control-label col-sm-1 no-padding-right" for="name">角色名称</label>
		      <div class="col-sm-10">
		      <div class="clearfix">
		         <input class="form-control" name="name" id="name" type="text" 
		           th:value="${roleEntity?.name }" placeholder="角色名称..."/>
		      </div>
		      </div>
		   </div>
			<div class="form-group">
			      <label class="control-label col-sm-1 no-padding-right" for="key">角色标识</label>
			      <div class="col-sm-10">
			      <div class="clearfix">
			         <input class="form-control" name="key" id="key" type="text"
			          th:value="${roleEntity?.key }" placeholder="角色标识..."/>
		      	</div>
		      	</div>
		    </div>  
		   <div class="form-group">
		      <label class="control-label col-sm-1 no-padding-right" for="description">角色描述</label>
		      <div class="col-sm-10">
		      <div class="clearfix">
		         <input class="form-control" name="description" id="description" type="text"
		         th:value="${roleEntity?.description }" placeholder="角色描述..."/>
		      </div>
		      </div>
		   </div> 
		</form>
		<div class="hr hr-dotted"></div>
	</div>
</div>
<div class="center" th:with="nempty=${roleEntity}?'true':'false'">
	<button id="btnAdd" type="button" onclick="javascript:$('#roleForm').submit();" class="btn btn-success btn-sm">
	  	<i class="fa fa-user-plus"></i>&nbsp;
	  	<span th:text="${roleEntity}?'保存':'添加'"></span>
	</button>
	<button id="btn" type="button" th:onclick="'javascript:webside.common.goback(&quot;/role/listUI.html&quot; ,'+${nempty}+')'" class="btn btn-info btn-sm">
		<i class="fa fa-undo"></i>&nbsp;返回
	</button>
</div>